body {
  overflow-x: hidden;
}

.prog-de-formacao-intro .prog-de-formacao-background {
  width: 100%;
  height: 712px;
  background-color: #f36C37;
}

.prog-de-formacao-intro .prog-de-formacao-background .dots-right {
  position: absolute;
  top: 399px;
  right: 0;
}

.prog-de-formacao-intro .prog-de-formacao-background .dots-left {
  position: absolute;
  top: 111px;
  left: -146px;
}

.prog-de-formacao-intro .prog-de-formacao-background .foto-wrapper {
  position: absolute;
  right: -200px;
  top: 0;
  overflow: hidden;
}

.prog-de-formacao-intro .prog-de-formacao-background .foto-wrapper img {
  width: 1344px;
  height: 756px;
}

.prog-de-formacao-intro .content .title {
  position: absolute;
  top: 90px;
  left: 232px;
  z-index: 10;
}

.prog-de-formacao-intro .content .title .logo {
  height: 58.31px;
  width: 266.5px;
  height: 100%;
}

.prog-de-formacao-intro .content .title .texts {
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

.prog-de-formacao-intro .content .title .texts .font-thin {
  font-weight: 300;
  font-size: 60px;
  margin-top: 40px;
}

.prog-de-formacao-intro .content .title .texts .font-border {
  font-weight: 700;
  color: #f36C37;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  font-size: 120px;
  display: block;
  line-height: 0.8;
}

.prog-de-formacao-intro .content .title .texts .font-bold {
  color: #fff;
  font-weight: 700;
  font-size: 120px;
  line-height: 1;
}

.prog-de-formacao-intro .content .title .texts .font-wbackground {
  font-size: 20px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 14px 23px;
  margin: 27px;
  position: absolute;
  top: 290px;
}

.prog-de-formacao-intro .content .title .inscricao {
  background-color: #f36C37;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  border: 5px #fff solid;
  border-radius: 10px 10px;
  margin-top: 30px;
  width: 437px;
  height: 100px;
  padding: 15px 80px;
  display: inline-block;
  text-decoration: none;
}

.prog-de-formacao-about {
  position: relative;
  height: 980px;
  width: 100%;
  background-color: #573791;
}

.prog-de-formacao-about .dots-left {
  position: absolute;
  overflow: hidden;
  margin: 111px 0px;
}

.prog-de-formacao-about .foto-wrapper {
  position: relative;
  height: 100%;
  float: left;
}

.prog-de-formacao-about .foto-wrapper img {
  position: absolute;
  bottom: 0px;
  width: 1097px;
  height: 1224px;
}

.prog-de-formacao-about .content {
  padding: 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fff;
  font-size: 20px;
  width: 979px;
  position: absolute;
  right: 0;
}

.prog-de-formacao-about .content .zigzag {
  width: 132.1px;
  margin-bottom: 50px;
}

.prog-de-formacao-about .content .font-bold-title, .prog-de-formacao-about .content .font-bold {
  font-weight: 700;
}

.prog-de-formacao-about .content .font-bold-title {
  font-size: 60px;
}

.prog-de-formacao-about .content .font-regular {
  font-weight: 400;
}

.prog-de-formacao-about .content .font-bold {
  font-size: 30px;
}

.prog-de-formacao-about .content .font-semibold {
  font-size: 25px;
  font-weight: 600;
}

.prog-de-formacao-about .content .inscricao {
  background-color: #f36C37;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  border-radius: 10px 10px;
  width: 437px;
  padding: 24px 58px;
  display: inline-block;
  text-decoration: none;
}

.prog-de-formacao-trilhas {
  width: 100%;
  height: 100%;
  background-color: #f36C37;
  color: #fff;
  padding-top: 121px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.prog-de-formacao-trilhas h2 {
  font-size: 60px;
  font-weight: 700;
}

.prog-de-formacao-trilhas .zigzag {
  display: block;
  margin: 0 auto 50px auto;
  width: 132px;
}

.prog-de-formacao-trilhas .trilhas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prog-de-formacao-trilhas .trilhas li {
  width: 492px;
  display: inline-block;
  margin-right: 95px;
}

.prog-de-formacao-trilhas .trilhas li h3 {
  font-size: 30px;
  font-weight: 700;
}

.prog-de-formacao-trilhas .trilhas li p {
  line-height: 1.2;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.prog-de-formacao-trilhas .trilhas li:first-child {
  margin-left: auto;
}

.prog-de-formacao-trilhas .etapas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prog-de-formacao-trilhas .etapas .circulos {
  font-weight: 300;
  font-size: 71px;
  display: inline-block;
  width: 144px;
  height: 144px;
  border: 5px solid;
  border-radius: 50%;
  text-align: center;
  line-height: 144px;
  margin: 0 72px;
  position: relative;
}

.prog-de-formacao-trilhas .etapas .circulos::before {
  content: '';
  position: absolute;
  width: 144px;
  height: 5px;
  top: 50%;
  left: -111%;
  background: #fff;
}

.prog-de-formacao-trilhas .etapas .circulos:first-child::before {
  display: none;
}

.prog-de-formacao-trilhas .etapas-titulo {
  margin-top: 157px;
}

.prog-de-formacao-trilhas .etapas-texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.prog-de-formacao-trilhas .etapas-texto li {
  font-weight: 300;
  display: inline-block;
  text-align: center;
  margin: 34px 72px;
}

.prog-de-formacao-trilhas .etapas-texto li p.etapa {
  line-height: 0px;
  font-weight: 600;
  font-size: 24px;
}

.prog-de-formacao-trilhas .etapas-texto li p.data {
  width: 152px;
  font-size: 20px;
}

.footer-container {
  background-color: #2f353c;
  height: 428px;
}
/*# sourceMappingURL=style.css.map */