$laranja: #f36C37;
$branco: #fff;
$roxo: #573791;
$laranja-escuro: #C4572C;
$cinza-escuro: #2f353c;
$font-light: 300;
$font-normal: 400; 
$font-bold: 700; 
$font-semibold: 600;
$font-family: 'Montserrat', sans-serif;